@import "../../styles/variables.scss";
.root {
    padding-left: 30px;
    padding-right: 30px;
     :global(.navbar-fixed-top),
     :global(.panel) {
        border-top-width: 1px;
        border-color: #ddd;
    }
     :global(.panel) {
        &.has-error {
            border-color: red;
             :global(.panel-heading),
             :global(.panel-footer) {
                border-color: red;
            }
             :global(.panel-footer) {
                border-top-width: 1px;
                padding: 0;
                background: transparent;
                pre {
                    border: none;
                    background: transparent;
                    margin: 0;
                }
            }
        }
         :global(.panel-heading) {
            background-color: #f8f8f8;
            border-bottom-width: 1px;
            border-color: #ddd;
            > :global(.pull-right) {
                margin-top: -7px;
                margin-right: -10px;
                 :global(.btn) {
                    border-top-width: 1px;
                    border-color: #ddd;
                    text-transform: none;
                     :global(.caret) {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .topic {
        margin-top: 0;
        font-weight: 400;
        margin-bottom: 20px;
        position: relative;
        .anchor {
            position: absolute;
            top: -100px;
        }
        span {
            a {
                position: absolute;
                text-decoration: none;
                left: -20px;
                opacity: 0;
            }
            &:hover {
                a {
                    opacity: 1;
                }
            }
        }
    }
    &:before {
        position: fixed;
        content: '';
        background: rgba(255, 255, 255, .75);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 74px;
        z-index: 10;
    }
    .header {
        top: 20px;
        left: 20px;
        right: 20px;
        border-radius: 4px;
    }
}

.box {
    border: 1px solid silver;
    background: rgba(0, 0, 0, .5);
    width: 200px;
    height: 200px;
}

.code-wrap {
    overflow: hidden;
}

.overflow-visible {
     :global(.CodeMirror) {
        height: auto!important;
        overflow: visible;
        box-shadow: none;
         :global(.CodeMirror-scroll) {
            height: auto!important;
            overflow: visible;
            min-height: 300px;
        }
    }
}

.tab {
    padding: 10px 5px;
    border-bottom: 1px dashed silver;
    background: none;
}