// @import .css => styles
.App
  h3(className='{styles.custom}') styled component
  h3(style='{{ color: "blue", backgroundColor: "silver" }}') inline style
  hr
  .app-header
    img.app-logo(src='{logo}', alt='logo')
    h2 Welcome to React
  p.app-intro
    | To get started, edit&nbsp;
    code src/App.js
    | &nbsp;and save to reload.
  .app-content
    hr
    button(type='button', onClick='{this.handleClick}') click me!
    ul
      li(@for='(name, i) in characters')
        | {name}
        button(type='button',
          data-name='{name}',
          data-index='{i}',
          onClick='{this.handleItemClick}') check
